# dependency from WhisperStreaming:
librosa

# for using Silero VAD with WhisperStreaming, torchaudio is needed
torchaudio

# from SimulWhisper
torch

# from Whisper
tqdm
tiktoken

# both Whisper and SimulWhisper. Updated to Triton v3
triton>=3.0.0
